@{
    ViewBag.Title = "Contact Us";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>(310) 901-5944</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:darragh@entrotech.net">darragh@entrotech.net</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        21036 Wendy Dr.<br />
        Torrance, CA 90503
    </p>
</section>