html
{
    /* Setting position relative allow children (e.g., .footer) to use absolute positioning */
    position: relative;
    min-height: 100%;
}

body 
{
    margin-top: 70px;
    margin-bottom: 50px;
}

.field-validation-error 
{
    color: #f00;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error{
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid
{
    display: none;
}

.footer
{
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
}