<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="AppConnection" 
         connectionString="Server=tcp:vf40ices27.database.windows.net,1433;Database=Talent;User ID=entrotech@vf40ices27;Password=Kimosabe1;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"
         providerName="System.Data.SqlClient"/>
    <add name="AppConnectionLocalDB"
        connectionString="Data Source=.\sqlexpress;Initial Catalog=TalentInstructor;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>