<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://talentmvc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>talentmvc.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TalentMVC</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TalentMVC</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:vf40ices27.database.windows.net,1433;Initial Catalog=Talent;User ID=entrotech@vf40ices27;Password=Kimosabe1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Talent.Mvc.Models.UsersContext, Talent.Mvc" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AppConnectionAzure" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:vf40ices27.database.windows.net,1433;Initial Catalog=Talent;User ID=entrotech@vf40ices27;Password=Kimosabe1" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:vf40ices27.database.windows.net,1433;Initial Catalog=Talent;Integrated Security=False;User ID=entrotech@vf40ices27;Password=Kimosabe1;Connect Timeout=30;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AppConnectionAzure_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:vf40ices27.database.windows.net,1433;Database=Talent;User ID=entrotech@vf40ices27;Password=Kimosabe1;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AppConnection" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:vf40ices27.database.windows.net,1433;Initial Catalog=Talent;User ID=entrotech@vf40ices27;Password=Kimosabe1" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSqlLocalDB;Initial Catalog=TalentInstructor;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AppConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\MSSqlLocalDB;Initial Catalog=TalentInstructor;Integrated Security=SSPI;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AppConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:vf40ices27.database.windows.net,1433;Initial Catalog=Talent;User ID=entrotech@vf40ices27;Password=Kimosabe1</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AppConnectionAzure-Web.config Connection String">
      <ParameterValue>Data Source=tcp:vf40ices27.database.windows.net,1433;Initial Catalog=Talent;User ID=entrotech@vf40ices27;Password=Kimosabe1</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:vf40ices27.database.windows.net,1433;Initial Catalog=Talent;User ID=entrotech@vf40ices27;Password=Kimosabe1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>